$background-extremos:rgba(255, 0, 0, 0.33);
$background-principal: rgba(252, 5, 5, 0.21);
$background-cards: rgba(193, 5, 16, 0.71);

$font-titulos: 'Unbounded', cursive;
$font-subtitulos: 'Poppins', sans-serif;
$font-parrafos: 'Amatic SC', cursive;
