header{
    width: 100%;
    background-color: $background-extremos;
    @include flex(row,none,space-between,center);
    font-size: $font-titulos;
    div{
        img{
            width: 4.375rem;
            height: 5.625rem 
        }
    }
    nav{
        ul{
            display: flex;
            list-style: none;
            gap: 1.5625rem;
            li{
                a{
                    text-decoration: none;
                    font-family: $font-subtitulos;
                    font-size: 1rem;
                    color: black;
                }
            }
        }
    }
}
.button1{
    width: 100%;
    background-color: rgba(5, 168, 220, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}