.cambio-main-talleres{
    @include flex(row,none,center,center);
    padding: 1.25rem;
    div{
        h1{
            font-family: $font-titulos;
            color: rgba(136, 12, 12, 1);
            font-size: 2.5rem;
        }
        p{
            font-family: $font-parrafos;
            font-size: 2em;
        }
    }
}