@media (max-width: 425px){
    header{
        @include flex(column,none,center,center);
        nav{
            ul{
                @include flex(column,none,center,center);
            }
        }
    }
}
    .cambio-portada{
        @include flex(column,none,center,center);
        h1{
            font-family: $font-titulos;
            color: rgba(136, 12, 12, 1);
            font-size: 20px;
        }
        p{
            font-family: $font-parrafos;
            font-size: 1.125rem;
        }
    }

    .carousel-item{
        img{
            width: 60%;
            height: 18.75rem;
            border-radius: 20%;
        }
    }
.cambio-portada-cards{
    @include flex(row,wrap,center,none);
    div{
        @include cards(60%,6.25rem,20%,row,space-around,center,.9375rem,.9375rem);
        overflow: hidden;
        h2{
            font-family: $font-titulos;
            font-size: 1.125rem;
        }
    }
}
